{% load static %}

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'BootLink.html' %}
</head>
<body class="">

<div class="container">
  <h2 class="text-center m-2 pt-5">User DataBase</h2>
  <p class="text-center m-2 p-3 text-info">Hi im FahimReza Hosseini </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for item in DataBase %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.FullName }}</td>
        <td>{{ item.Email }}</td>
        <td>{{ item.Password }}</td>
        <td><a class="btn btn-danger" href="DeletUser/{{ item.id }}">Delete</a>
         <button type="button" class="btn btn-success" onclick="Data( '{{ item.id }}' , '{{ item.FullName }}' , '{{ item.Email }}' , '{{ item.Password }}' )" data-toggle="modal" data-target="#myModal">Update</button>
        <a class="btn btn-info" href="AddUser">Add</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<a href="/" class="btn btn-dark m-5 float-center">برگشت به خانه</a>


  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" dir="rtl">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body m-3 p-5 bg-dark text-white text-center" dir="rtl" style=" text-align:right;">
          <form method="post"  action="/UpdateUser">
            {% csrf_token %}
            {{ Form }}
              <button type="submit"  class="btn btn-primary p-3 mt-2 mt-5   float-center" >  اعمال تغییرات</button>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<script src="{% static 'File/js/jquery.js' %}"></script>
<script src="{% static 'File/js/script.js' %}"></script>

</body>
</html>
